<f:fluid xmlns:cms="Bleicker\Cms\ViewHelpers">
	<cms:menus.pageTree of="{of}">
		<ol class="nav nav-pills">
			<li class="{f:if(condition:'{of.id}=={current.id}', then:'active', else:'inactive')}{f:if(condition:'{of.hidden}', then:' hidden')}">
				<a href="/{cms:translation.systemLocale()}/{of.id}">
					<f:if condition="{of.title}">
						<f:then><cms:node.translate propertyName="title" node="{of}"/></f:then>
						<f:else>Untitled</f:else>
					</f:if>
				</a>
				<f:for each="{children}" as="child">
					<f:render partial="Frontend/PageTree" arguments="{of:child, current:current}"/>
				</f:for>
			</li>
		</ol>
	</cms:menus.pageTree>
</f:fluid>
