// Core variables and mixins
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
// Components
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
// Utility classes
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

body {
  padding: $padding-base-horizontal;
  overflow-y: scroll;
}

figure{
  figcaption{
    padding: $padding-base-vertical 0;
  }
}

img{
  &.img-responsive{
    width: 100%;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
header {
  margin: 0;
  padding: 0 0 $padding-base-vertical 0;
  h2 {
    font-style: italic;
    font-weight: normal;
    margin-top: $padding-base-vertical;
  }
}

.grid{
  @extend .row;
}

.validation-property-error {
  font-weight: normal;
  color: $alert-danger-text;
  padding: $padding-base-vertical $padding-base-horizontal 0 $padding-base-horizontal;
  margin: 0;
  display: block;
}

.alert-validation-results {
  dt {
    font-size: $font-size-h3;
    margin-top: $grid-gutter-width/2;
    &:first-child {
      margin-top: 0;
    }
  }
}

.btn {
  margin-bottom: $grid-gutter-width/4;
}

.col-first {
  margin-top: $grid-gutter-width/2;
  section {
    &.page-tree {
      margin-bottom: $grid-gutter-width/3;
    }
  }
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .nav {
      li {
        margin: 5px 0 0 0;
        padding: 0 0 0 5px;
      }
    }
    li {
      padding: 0;
      a {
        display: inline-block;
        padding: 0.25em 0.5em;
      }
      &.hidden {
        display: block !important;
        opacity: 0.4;
        &.active {
          opacity: 0.85;
        }
      }
    }
  }
}

.col-third {
  margin-top: $grid-gutter-width/2;
  form {
    @extend .well;
  }
  legend {
    font-size: $font-size-h5;
    text-transform: uppercase;
  }
}

.section-title {
  text-transform: uppercase;
  color: $gray-light;
}

.translation-menu {
  margin-bottom: $grid-gutter-width/2;
}
