<f:fluid xmlns:cms="Bleicker\Cms\ViewHelpers"/>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button"
					class="navbar-toggle collapsed"
					data-toggle="collapse"
					data-target="#navbar"
					aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<f:groupedFor each="{cms:modules.moduleConfigurations()}" as="groupedConfigurations" groupBy="group"
							  groupKey="group">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{group} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<f:for each="{groupedConfigurations}" as="configuration">
								<li><a href="/{cms:translation.systemLocale()}{configuration.uri}">{configuration.label}</a></li>
							</f:for>
						</ul>
					</li>
				</f:groupedFor>
			</ul>
			<f:render partial="Menu/User"/>
		</div>
	</div>
</nav>